
body{
}

.photoView{
    width: 100%;
    /* height: 220px; */
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

.photoView img{
    width: 100%;
    padding: 10px;
    overflow: hidden;
}